body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  background: #bbbbbb;
  font-size: 2em;
  color: #ffffff;
  margin: 0 0 15px 0;
  text-align: center;
  padding: 10px;
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

.area {
  background: #ffffff;
  width: 100%;
  height: 95%;
  margin: 10px;
  padding: 4px;
}

.vista {
  background: #ffffff;
  width: 100%;
  height: 95%;
  margin: 10px;
  padding: 4px;
}

.footer__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  background: #bbbbbb;
  color: #ffffff;
  margin: 15px 0 0 0;
  text-align: center;
}

.footer__contenedor p,
i {
  margin-right: 10px;
}

.footer__contenedor i {
  font-size: 1.5em;
  color: #ffffff;
}
